* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --menu-lateral-color: #1d1f1f;
    --underline-color: #333636;
    --contatos-color: #161717;
    --text-color: #fafafa;
    --mensagem-bg: #242626;
}

body {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 100dvh;
    width: 100dvw;
    background-color: var(--menu-lateral-color);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50px;
    height: 100%;
    /* padding-block:8; */
    background-color: var(--menu-lateral-color);
}

.opcoes {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: auto;
    padding-block: 12px;
}

.config {
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 8px;
}

.meta {
    border-top: 2px solid var(--underline-color);
    padding-top: 8px;
    width: 32px;
}

.config img {
    padding-block: 4px;
}

.icons {
    color: #a6a6a6;
    font-size: 20px;
    transition: 0.5s;
}
.foto-perfil{
    width: 32px;
    height: 32px;
    border-radius: 50px;
}

.group {
    -webkit-text-stroke: white;
    -webkit-text-stroke-width: 0.5px;
    color: transparent;
}

.icons:hover {
    color: #fafafa;
}

main {
    display: flex;
    height: 100%;
    width: 100dvw;
}

.contatos {
    width: 30%;
    display: flex;

}

.container-contatos {
    display: flex;
    flex-direction: column;
    background-color: var(--contatos-color);
    height: 100dvh;
    gap: 16px;
    width: 100%;
}

.header-contatos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    gap: 16px;
    padding-inline: 8px;
}

.header-contatos h1 {
    color: white;
    font-size: 24px;
}

.opcoes-contatos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 8dvw;
    width: 100%;
    height: 50px;
}

.opcoes-contatos img {
    width: 32px;
    height: 32px;
}

.icon-header-contato {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 50px;
}

.buscar-conversa {
    display: flex;
    align-items: center;
    background-color: #2d2e2e;
    position: relative;
    width: 90%;
    height: 4dvh;
    border-radius: 20px;
    padding-inline: 8px;
    gap: 8px;
    border: 1px;
}

.buscar-conversa img {
    width: 20px;
    height: 20px;
}

.buscar-conversa input {
    position: relative;
    background-color: #2d2e2e;
    width: 95%;
    height: 4dvh;
    all: unset;
    z-index: 1;
    border: none;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: white;
}

menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 95%;
}

li {
    list-style: none;
    border: 2px solid #2d2e2e;
    border-radius: 20px;
    padding-block: 8px;
    padding-inline: 8px;
    font-size: 12px;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

li:hover {
    border: 2px solid #284a3f;
    background-color: #10362a;
    color: #d8fcd2;
}

.main-contatos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex: 1;
    gap: 24px;
    overflow-y: auto;
    scrollbar-color: var(--underline-color) var(--contatos-color);
    scrollbar-width: none;
    transition: 0.5s;
}

.arquivadas {
    display: flex;
    align-items: center;
    gap: 24px;
}

.arquivadas-icon {
    font-size: 32px;
    color: #a3a3a3;
}

.arquivadas p {
    font-size: 24px;
    color: var(--text-color);
}

.contatos-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0;
}

.contato {
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    transition: 0.2s;
    padding-inline: 32px;
}

.mensagem-contato {
    display: flex;
    gap: 16px;
    align-items: center;
}

.mensagem-contato img {
    width: 48px;
    height: 48px;
    border-radius: 100%;
}
.contato span{
    font-size: 8px;
}

.info-contato{
    text-align: center;
}
.info-contato h2 {
    font-size: 16px;
    font-weight: 400;
    padding-block: 4px;
}

.info-contato p {
    font-size: 8px;
}

.contato:hover {
    background-color: #2d2e2e;
    border-radius: 10px;
    padding-block: 4px;
    padding-inline: 28px;
}

.mensagens {
    display: flex;
    width: 100%;
}

.container-mensagens {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100dvh;
    background-image: url(./img/whatsapp-background.jpg);
    padding-bottom: 16px;
}

.header-mensagens {
    display: flex;
    padding-inline: 16px;
    padding-block: 16px;
    background-color: var(--contatos-color);
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.dados-contato {
    display: flex;
    align-items: center;
    gap: 16px;
    color: white;
}

.info-contato h3 {
    font-size: 16px;
    font-weight: 400;
}

.icons-header-mensagem {
    display: flex;
    gap: 24px;
}

.icons-mensagem {
    color: white;
    font-size: 20px;
    padding-inline: 4px;
}

.ligacao {
    display: flex;
    align-items: center;
    gap: 4px;
}

.opcoes-ligacao {
    color: white;
    font-size: 12px;
}

.main-mensagens {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* height: auto; */
    flex: 1;
    color: white;
    padding-top: 12px;
    gap: 24px;
    transition: 0.5s;
    overflow-y: scroll;
    scrollbar-color: var(--underline-color) var(--contatos-color);
    scrollbar-width: none;
}

.box-mensagens {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    height: 100%;
    padding-inline: 16px;
    padding-top: 16px;

}

.mensagem {
    display: flex;
    max-width: 50%;
    gap: 8px;
    height: auto;
}

.mensagem img {
    width: 32px;
    height: 32px;
}

.mensagem-texto {
    background-color: var(--mensagem-bg);
    height: auto;
    display: flex;
    flex-direction: column;
    padding-inline: 12px;
    padding-block: 12px;
    gap: 8px;
    border-radius: 8px;
    border-top-left-radius: 0;
}

.mensagem-texto h4 {
    color: plum;
    font-size: 16px;
    font-weight: 400;
}

.mensagem-texto span {
    font-size: 12px;
}

.digitar {
    width: 95%;
    height: 6dvh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 16px;
    padding-block: 8px;
    margin-top: 8px;
    border-radius: 100px;
    background-color: var(--mensagem-bg);
}

.digitar input {
    background-color: var(--mensagem-bg);
    border: none;
    all: unset;
    height: 4dvh;
    color: white;
}

.digitar-itens {
    display: flex;
    align-items: center;
    gap: 12px;
}

.audio {
    display: flex;
    align-items: center;
}

.modal-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-overlay.visivel {
    display: flex;
}

.modal-login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 80%;
    padding-top: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    background-color: var(--contatos-color);
    border-radius: 25px;
}

.cardUser{
    width: 300px;
    height: 200px;
    display: flex;
    background-color: #fafafa;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.userImg {
    width: 200px;
    height: 150px;
    border-radius: 15px;
}

.spanModal{
    position: absolute;
    color: white;
    z-index: 1000;
    top: 10%;
    font-size: 32px;
}