*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --menu-lateral-color: #1d1f1f;
    --underline-color: #333636;
    --contatos-color: #161717;
    --text-color: #fafafa;
}
body{
    display: flex;
    flex-direction: row;
    height: 100dvh;
    width: 100dvw;
    background-color: var(--menu-lateral-color);
}
header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50px;
    height: 100%;
    /* padding-block:8; */
    background-color: var(--menu-lateral-color);
}
.opcoes{
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: auto;
    padding-block: 12px;
}
.config{
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 8px;
}
.meta{
    border-top: 2px solid var(--underline-color);
    padding-top: 8px;
    width: 32px;
}
.config img{
    padding-block: 4px;
}
.icons{
    width: 32px;
}

main{
    display: flex;
    height: 100%;
    width: 100dvw;
}
.contatos{
    width: 80%;
    display: flex;
    
}
.container-contatos{
    display: flex;
    flex-direction: column;
    background-color: var(--contatos-color);
    height: 100dvh;
    gap: 16px;
    width: 100%;
}

.header-contatos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    gap: 16px;
    padding-inline: 8px;
}
.header-contatos h1{
    color: white;
    font-size: 24px;
}

.opcoes-contatos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 8dvw;
    width: 100%;
    height: 50px;
}
.opcoes-contatos img{
    width: 32px;
    height: 32px;
}
.icon-header-contato{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 50px;
}

.buscar-conversa{
    display: flex;
    align-items: center;
    background-color: #2d2e2e;
    position: relative;
    width: 90%;
    height: 4dvh;
    border-radius: 20px;
    padding-inline: 8px;
    gap: 8px;
    border: 1px;
}
.buscar-conversa img{
    width: 20px;
    height: 20px;
}

.buscar-conversa input{
    position: relative;
    background-color: #2d2e2e;
    width: 95%;
    height: 4dvh;
    z-index: 1;
    border: none;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: white;
}

menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 95%;
}
li{
    list-style: none;
    border: 2px solid #2d2e2e;
    border-radius: 20px;
    padding-block: 8px;
    padding-inline: 12px;
}
a{
    color: var(--text-color);
    text-decoration: none;
}
li:hover{
    border: 2px solid #284a3f;
    background-color: #10362a;
    color: #d8fcd2;
}
.main-contatos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 24px;
    overflow-y: auto;
    scrollbar-color: var(--underline-color) var(--contatos-color);
}
.arquivadas{
    display: flex;
    align-items: center;
    gap: 24px;
}
.arquivadas-icon{
    font-size: 32px;
    color: #a3a3a3;
}
.arquivadas p{
    font-size: 24px;
    color: var(--text-color);
}
.contatos-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-x: auto;
}
.contato{
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    transition: 0.2s;
}
.mensagem-contato{
    display: flex;
    gap: 16px;
    align-items: center;
    overflow-x: auto;
}
.mensagem-contato img{
    width: 48px;
}
.info-contato h2{
    font-size: 16px;
    font-weight: 400;
    padding-block: 4px;
}
.info-contato p{
    font-size: 8px;
}
.contato:hover{
    background-color: #2d2e2e;
    border-radius: 10px;
    padding-block: 4px;
    padding-inline: 4px;
}
.mensagens{
    display: flex;
    width: 100%;
}
.container-mensagens{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100dvh;
}
.header-mensagens{
    display: flex;
    padding-inline: 16px;
    padding-block: 16px;
    background-color: var(--contatos-color);
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.dados-contato{
    display: flex;
    align-items: center;
    gap: 16px;
    color: white;
}
.info-contato h3{
    font-size: 16px;
    font-weight: 400;
}
.icons-header-mensagem{
    display: flex;
    gap: 24px;
}
.icons-mensagem{
    color: white;
    font-size: 20px;
    padding-inline: 4px;
}
.ligacao{
    display: flex;
    align-items: center;
    gap: 4px;
}
.opcoes-ligacao{
    color: white;
    font-size: 12px;
}